<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDNlP5RHoZIL3yw-1F4WTY0UC18E4OQlI</string>
	<key>GCM_SENDER_ID</key>
	<string>934478456725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.chatflutter</string>
	<key>PROJECT_ID</key>
	<string>chat-em-flutter-a7e6e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-em-flutter-a7e6e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934478456725:ios:dc4ddd5a14af5e496e389c</string>
</dict>
</plist>